[Desktop Entry]
Type=Application
Name=Monitor App
Exec=bash -c "cd ~/Documents/monitor/ ;./Shortcut/monitor.sh; exec bash"
Icon=/home/itmop/Documents/monitor/Shortcut/IO.jpg
Terminal=true
X-Desktop-File-Install-Version=0.23
