[Desktop Entry]
Type=Application
Name=Monitor App
Exec=bash -c "cd ~/Documents/monitor-pci-7230/ ;./Shortcut/monitor.sh; exec bash"
Icon=/home/itmop/Documents/monitor-pci-7230/Shortcut/IO_COM.png
Terminal=true
X-Desktop-File-Install-Version=0.23
